<div class="h-100">
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row justify-content-center p-5">
                <div class="@Width">
                    <div class="card shadow-2-strong" style="background-color: #F5F7FA">
                        <div class="card-body">
                            @ChildContent
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string Width { get; set; }
}
