<div class="d-block">
    <div>
        <div style="background-color: red">
            <div>
                @Message
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Message { get; set; }
}
