@page "/register"
@using ConversionHive.Components
@using ConversionHive.Models
@inject HttpClient _client;
@inject NavigationManager _navigationManager;


<Card Width="col-5">
    <div>
        <div class="form-group">
            <h3 class="text-center fw-bold mb-3">Sign up</h3>
            <EditForm Model="@registerModel" OnValidSubmit="SendRegisterRequest">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-floating">
                    <InputText id="floatingInput" class="form-control mb-3"
                    @bind-Value="registerModel.FirstName" placeholder="First name here" />
                    <label for="floatingInput">First Name</label>
                </div>
                <div class="form-floating">
                    <InputText id="floatingInput" class="form-control mb-3"
                    @bind-Value="registerModel.LastName" placeholder="Last name here" />
                    <label for="floatingInput">Last Name</label>
                </div>
                <div class="form-floating">
                    <InputText id="floatingInput" class="form-control mb-3"
                    @bind-Value="registerModel.EmailAddress" placeholder="Email here" />
                    <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating">
                    <InputText id="floatingInput" type="password" class="form-control mb-3"
                    @bind-Value="registerModel.Password" placeholder="Password here" />
                    <label for="floatingInput">Password</label>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
                <p>Already registered? <a href="/login">Log in</a></p>
            </EditForm>
        </div>
    </div>
</Card>

@code {
    private RegisterModel registerModel = new();

    private async Task SendRegisterRequest()
    {
        var result = await _client.PostAsJsonAsync("Auth/register", registerModel);

        _navigationManager.NavigateTo(result.IsSuccessStatusCode ? "/" : "/register");
    }
}
