@page "/fetchdata"
@using ConversionHive.Components
@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <PageTitle>Weather forecast</PageTitle>

        <h1>Weather forecast</h1>

        <p>This component demonstrates fetching data from the server.</p>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin></RedirectToLogin>
    </NotAuthorized>
</AuthorizeView>

@code {

}
